body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 80%;
}
.flex-box{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 0 5%;
}
.mission-btn{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 34px;
    background: #FF0066;
    letter-spacing: 1px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 18px;
}
.heading-color{
    color: #F59660;
}

/* Mission area css */
.mission-area{
    margin-bottom: 108px;
}
.mission-content .mission-heading h1{
    font-size: 74px;
    font-family: 'Yeseva One', cursive;
    line-height: 62px;
}
.mission-content .mission-heading{
    border-left: 8px solid #FF0066;
    padding-left: 18px;
}
.mission-content p{
    font-size: 24px;
    color: #747474;
}
.mission-content span{
    font-size: 16px;
    display: block;
    margin-top: 34px;
    color: #747474;
}

/* Mission-terget css */
.mission-target-area{
    margin-bottom: 108px;
}
.mission-target-area h1{
    font-size: 48px;
    text-align: center;
}
.mission-card{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.card{
    width: 25%;
    padding: 48px;
    border-radius: 26px;
}
.mission-card .mission{
    background: #EDF5F6;
}
.mission-card .vission{
    background: #FFEEEE;
}
.mission-card .goal{
    background: #FFF4D6;
}
.card img{
    width: 50%;
}
.card h2{
    font-size: 24px;
    letter-spacing: 1px;
}
.card p{
    font-size: 16px;
    color: #747474;
}